<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>{{title}}</title>
    {{#each cssList}}
      <link href="{{this}}" rel="stylesheet" />
    {{/each}}
    <script type="text/javascript">
      // 性能监控
      window.logInfo = {};
      window.logInfo.openTime = performance && performance.timing ? performance.timing.navigationStart : +new Date();
      // 白屏时间
      window.logInfo.whiteScreenTime = +new Date() - window.logInfo.openTime;

      // 域名修正
      // document.domain = 'yunshanmeicai.com';

        // 全局变量设置
      {{#each globalVariable}}
      window.{{this.key}} = "{{this.value}}";
      {{/each}}
    </script>
  <link href="https://img-oss.yunshanmeicai.com/weixin/mall/cdn/static/css/app.8b4d6073.min.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    {{#each jsList}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
  <script type="text/javascript" src="https://img-oss.yunshanmeicai.com/weixin/mall/cdn/static/js/manifest.848374fe.min.js"></script><script type="text/javascript" src="https://img-oss.yunshanmeicai.com/weixin/mall/cdn/static/js/vendor.6cf74918.min.js"></script><script type="text/javascript" src="https://img-oss.yunshanmeicai.com/weixin/mall/cdn/static/js/app.9e5309a3.min.js"></script></body>
</html>
